@font-face {
    font-family: AdiNeueRegular;
    src: url("./assets/fonts/adineuePRO-Regular.ttf");
}
@font-face {
    font-family: AdiNeueBold;
    src: url("./assets/fonts/adineuePRO-Bold.ttf");
}
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    background-color: #181818;
    overflow-x: hidden;
}


body::-webkit-scrollbar {
    width: 3px;
}
 
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(187, 255, 97);
}

a{
    text-decoration: none;
}

#content{
    display: none;
}

#intro-video{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#updater{
    z-index: 1000;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 200px;
    margin: -100px 0 0 -250px;
    border-radius: 8px;
    background-color: #181818;
    -webkit-box-shadow: 0px 0px 15px 0px #101010; 
    box-shadow: 0px 0px 15px 0px #101010;
}
#updater h1{
    position: absolute;
    top: 78px;
    left: 50%;
    width: 400px;
    transform: translate(-50%, 0%);
    color: #f1535a;
    text-align: center;
    font-size: 30px;
    font-family: AdiNeueBold;
}
#updater p{
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #946f71;
    text-align: center;
    font-size: 17px;
    font-family: AdiNeueRegular;
}
#updater img{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
}
#updater #background{
    z-index: 998;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #181818;
    opacity: 1.0;
}

#appVersion{
    z-index: 1001;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #757575;
    text-align: right;
    font-size: 13px;
    font-family: AdiNeueRegular;
}

navbar{
    transition: 0.1s;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 65px;
    background-color: #181818;
}

#logo{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: 10px;
    height: 50px;
    cursor: pointer;
}

#random{
    display: none;
    transition: 0.1s;
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translate(0%, -50%);
    font-size: 21px;
    color: rgb(201, 219, 180);
    cursor: pointer;
}
#random:hover{
    transition: 0.1s;
    color: rgb(146, 192, 98);
}

.back{
    position: absolute;
    left: 210px;
    top: 35px;
    transform: translate(0%, -50%);
    width: auto;
    height: 20px;
    background-color: #1f1f1f;
    border-radius: 5px;
}
.back p{
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    left: 27px;
    color: white;
    font-size: 13px;
    font-family: AdiNeueRegular;
    padding-right: 40px;
    margin: 0;
}
.back #back{
    transition: 0.1s;
    position: absolute;
    top: 50%;
    left: 7px;
    margin: 0;
    padding: 0;
    transform: translate(0%, -50%);
    font-size: 13px;
    color: rgb(177, 177, 177);
    cursor: pointer;
}
#back:hover{
    transition: 0.1s;
    color: rgb(192, 154, 98);
}  

#closeBtn{
    z-index: 1000;
    transition: 0.1s;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(0%, -50%);
    font-size: 25px;
    color: white;
    cursor: pointer;
}
#closeBtn:hover{
    transition: 0.2s;
    color: #ff3434;
}

#grid-container{
    z-index: 999;
    position: absolute;
    top: 75px;
    left: 0;
    width: calc(100vw - 30px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 15px;
}

.card{
    /* width: 250px;
    height: 150px; */
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 15px 0px #101010; 
    box-shadow: 0px 0px 15px 0px #101010;
    cursor: pointer;
    background-color: #181818;
}
.card .content{
    position: relative;
    z-index: 995;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.card .content .icon{
    position: relative;
    top: 18px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}
.card .content h1{
    position: relative;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: AdiNeueBold;
}
.card .content p{
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #757575;
    text-align: center;
    font-size: 13px;
    font-family: AdiNeueRegular;
}
.card .background{
    transition: 0.2s;
    z-index: 994;
    position: relative;
    left: 0;
    top: calc(-100% - 12px);
    opacity: 0.0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.card .background div{
    z-index: 993;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-color: #181818;
    opacity: 0.9;
    transition: 0.2s;
}
.card .background img{
    z-index: 992;
    transition: 0.2s;
    opacity: 1.0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-size: auto;
    object-fit: cover;
}


.productCard{
    position: relative;
    transition: 0.2s;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 220px; */
    min-height: 140px;
    z-index: 1000;
    display: block;
    border-radius: 8px;
    background-color: #1b1b1b;
    box-shadow: 0px 0px 15px 0px #101010;
    -webkit-box-shadow: 0px 0px 15px 0px #101010;
    cursor: pointer;
}
.productCard:hover{
    transition: 0.1s;
    background-color: #252525;
}
.productCard img{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0%, -50%);
    width: auto;
    height: calc(100% - 20px);
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 0px 15px 0px #101010;
    -webkit-box-shadow: 0px 0px 15px 0px #101010;
}
.productInfo{
    z-index: 500;
}
.productName{
    position: relative;
    top: 0px;
    left: 145px;
    width: calc(100% - 155px);
    max-height: 87px;
    color: white;
    font-size: 18px;
    overflow: hidden;
    font-family: AdiNeueBold;
}
.productBrand{
    position: relative;
    top: 5px;
    left: 145px;
    width: 230px;
    color: #bfbfbf;
    font-size: 13px;
    font-family: AdiNeueRegular;
}
.productPricePerQuantity{
    position: absolute;
    bottom: 23px;
    left: 145px;
    width: 230px;
    color: #bfbfbf;
    font-size: 12px;
    font-family: AdiNeueRegular;
}
.productPrice{
    position: absolute;
    bottom: -15px;
    left: 145px;
    width: 230px;
    color: whitesmoke;
    font-size: 22px;
    font-family: AdiNeueBold;
}
.productCard .link{
    display: none;
    transition: 0.1s;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #829620;
    cursor: pointer;
}
.productCard .link:hover{
    transition: 0.2s;
    background-color: #68771c;
}
.productCard .link i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
}