@font-face {
    font-family: AdiNeueRegular;
    src: url("./assets/fonts/adineuePRO-Regular.ttf");
}
@font-face {
    font-family: AdiNeueBold;
    src: url("./assets/fonts/adineuePRO-Bold.ttf");
}
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    background-color: #181818;
}

#content{
    display: none;
}

#intro-video{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#updater{
    z-index: 1000;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 200px;
    margin: -100px 0 0 -250px;
    border-radius: 8px;
    background-color: #181818;
    -webkit-box-shadow: 0px 0px 15px 0px #101010; 
    box-shadow: 0px 0px 15px 0px #101010;
}
#updater h1{
    position: absolute;
    top: 78px;
    left: 50%;
    width: 400px;
    transform: translate(-50%, 0%);
    color: #f1535a;
    text-align: center;
    font-size: 30px;
    font-family: AdiNeueBold;
}
#updater p{
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #946f71;
    text-align: center;
    font-size: 17px;
    font-family: AdiNeueRegular;
}
#updater img{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
}
#updater #background{
    z-index: 998;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #181818;
    opacity: 1.0;
}

#appVersion{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #757575;
    text-align: right;
    font-size: 13px;
    font-family: AdiNeueRegular;
}

navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 65px;
}

#logo{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: 10px;
    height: 50px;
    cursor: pointer;
}

#closeBtn{
    z-index: 1000;
    transition: 0.1s;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(0%, -50%);
    font-size: 25px;
    color: white;
    cursor: pointer;
}
#closeBtn:hover{
    transition: 0.2s;
    color: #ff3434;
}

#grid-container{
    position: absolute;
    top: 75px;
    left: 0;
    width: calc(100vw - 30px);
    height: calc(100vh - 120px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 15px;
}

.card{
    /* width: 250px;
    height: 150px; */
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 15px 0px #101010; 
    box-shadow: 0px 0px 15px 0px #101010;
    cursor: pointer;
    background-color: #181818;
}
.card .content{
    position: relative;
    z-index: 995;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.card .content .icon{
    position: relative;
    top: 18px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}
.card .content h1{
    position: relative;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: AdiNeueBold;
}
.card .content p{
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #757575;
    text-align: center;
    font-size: 13px;
    font-family: AdiNeueRegular;
}
.card .background{
    z-index: 994;
    position: relative;
    left: 0;
    top: calc(-100% - 12px);
    opacity: 0.0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.card .background div{
    z-index: 993;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-color: #181818;
    opacity: 0.9;
    transition: 0.2s;
}
.card .background img{
    z-index: 992;
    transition: 0.2s;
    opacity: 1.0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-size: auto;
    object-fit: cover;
}