@font-face {
    font-family: AdiNeueRegular;
    src: url("./assets/fonts/adineuePRO-Regular.ttf");
}
@font-face {
    font-family: AdiNeueBold;
    src: url("./assets/fonts/adineuePRO-Bold.ttf");
}

body{
    background-color: #181818;
}

#intro-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#updater{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 200px;
    margin: -100px 0 0 -250px;
    border-radius: 8px;
    background-color: #181818;
    -webkit-box-shadow: 0px 0px 15px 0px #101010; 
    box-shadow: 0px 0px 15px 0px #101010;
}
#updater h1{
    position: absolute;
    top: 78px;
    left: 50%;
    width: 400px;
    transform: translate(-50%, 0%);
    color: #f1535a;
    text-align: center;
    font-size: 30px;
    font-family: AdiNeueBold;
}
#updater p{
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #946f71;
    text-align: center;
    font-size: 17px;
    font-family: AdiNeueRegular;
}
#updater img{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
}